<div>
  <h2 id="page-heading" data-cy="EtablissementHeading">
    <span jhiTranslate="papApp.etablissement.home.title">Etablissements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="papApp.etablissement.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-etablissement"
        [routerLink]="['/etablissement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="papApp.etablissement.home.createLabel"> Créer un nouveau Etablissement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="etablissements?.length === 0">
    <span jhiTranslate="papApp.etablissement.home.notFound">Aucun Etablissement trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="etablissements && etablissements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nometablissement">
            <span jhiTranslate="papApp.etablissement.nometablissement">Nometablissement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="manager">
            <span jhiTranslate="papApp.etablissement.manager">Manager</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="teamlead">
            <span jhiTranslate="papApp.etablissement.teamlead">Teamlead</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let etablissement of etablissements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/etablissement', etablissement.id, 'view']">{{ etablissement.id }}</a>
          </td>
          <td>{{ etablissement.nometablissement }}</td>
          <td>{{ etablissement.manager }}</td>
          <td>{{ etablissement.teamlead }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/etablissement', etablissement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/etablissement', etablissement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(etablissement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
