<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="employee">
      <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="papApp.employee.detail.title">Employee</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ employee.id }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.employee.nom" [ngbTooltip]="'papApp.employee.help.nom' | translate">Nom</span></dt>
        <dd>
          <span>{{ employee.nom }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.employee.prenom">Prenom</span></dt>
        <dd>
          <span>{{ employee.prenom }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.employee.email">Email</span></dt>
        <dd>
          <span>{{ employee.email }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.employee.numtel">Numtel</span></dt>
        <dd>
          <span>{{ employee.numtel }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.employee.dateembauche">Dateembauche</span></dt>
        <dd>
          <span>{{ employee.dateembauche | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.employee.affectation">Affectation</span></dt>
        <dd>
          <div *ngIf="employee.affectation">
            <a [routerLink]="['/affectation', employee.affectation.id, 'view']">{{ employee.affectation?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="papApp.employee.etablissement">Etablissement</span></dt>
        <dd>
          <div *ngIf="employee.etablissement">
            <a [routerLink]="['/etablissement', employee.etablissement.id, 'view']">{{ employee.etablissement?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="papApp.employee.affectationAdmin">Affectation Admin</span></dt>
        <dd>
          <div *ngIf="employee.affectationAdmin">
            <a [routerLink]="['/affectation-admin', employee.affectationAdmin.id, 'view']">{{ employee.affectationAdmin?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/employee', employee.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
