<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="affectation">
      <h2 data-cy="affectationDetailsHeading"><span jhiTranslate="papApp.affectation.detail.title">Affectation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ affectation.id }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.affectation.nomprojet">Nomprojet</span></dt>
        <dd>
          <span>{{ affectation.nomprojet }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.affectation.description">Description</span></dt>
        <dd>
          <span>{{ affectation.description }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.affectation.datedebut">Datedebut</span></dt>
        <dd>
          <span>{{ affectation.datedebut | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.affectation.datefin">Datefin</span></dt>
        <dd>
          <span>{{ affectation.datefin | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.affectation.projet">Projet</span></dt>
        <dd>
          <div *ngIf="affectation.projet">
            <a [routerLink]="['/projet', affectation.projet.id, 'view']">{{ affectation.projet?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/affectation', affectation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
