<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="responsable">
      <h2 data-cy="responsableDetailsHeading"><span jhiTranslate="papApp.responsable.detail.title">Responsable</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ responsable.id }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.responsable.nommanager">Nommanager</span></dt>
        <dd>
          <span>{{ responsable.nommanager }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.responsable.nomteamlead">Nomteamlead</span></dt>
        <dd>
          <span>{{ responsable.nomteamlead }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/responsable', responsable.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
