<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="etablissement">
      <h2 data-cy="etablissementDetailsHeading"><span jhiTranslate="papApp.etablissement.detail.title">Etablissement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ etablissement.id }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.etablissement.nometablissement">Nometablissement</span></dt>
        <dd>
          <span>{{ etablissement.nometablissement }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.etablissement.manager">Manager</span></dt>
        <dd>
          <span>{{ etablissement.manager }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.etablissement.teamlead">Teamlead</span></dt>
        <dd>
          <span>{{ etablissement.teamlead }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.etablissement.affectationAdmin">Affectation Admin</span></dt>
        <dd>
          <div *ngIf="etablissement.affectationAdmin">
            <a [routerLink]="['/affectation-admin', etablissement.affectationAdmin.id, 'view']">{{ etablissement.affectationAdmin?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/etablissement', etablissement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
