<div>
  <h2 id="page-heading" data-cy="EntretienHeading">
    <span jhiTranslate="papApp.entretien.home.title">Entretiens</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="papApp.entretien.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-entretien"
        [routerLink]="['/entretien/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="papApp.entretien.home.createLabel"> Créer un nouveau Entretien </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="entretiens?.length === 0">
    <span jhiTranslate="papApp.entretien.home.notFound">Aucun Entretien trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="entretiens && entretiens.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateentretient">
            <span jhiTranslate="papApp.entretien.dateentretient">Dateentretient</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="resultat">
            <span jhiTranslate="papApp.entretien.resultat">Resultat</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="confirmationresponsable">
            <span jhiTranslate="papApp.entretien.confirmationresponsable">Confirmationresponsable</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="confirmationsalarie">
            <span jhiTranslate="papApp.entretien.confirmationsalarie">Confirmationsalarie</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="responsable.id">
            <span jhiTranslate="papApp.entretien.responsable">Responsable</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entretien of entretiens; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/entretien', entretien.id, 'view']">{{ entretien.id }}</a>
          </td>
          <td>{{ entretien.dateentretient | formatMediumDatetime }}</td>
          <td>{{ entretien.resultat }}</td>
          <td>{{ entretien.confirmationresponsable }}</td>
          <td>{{ entretien.confirmationsalarie }}</td>
          <td>
            <div *ngIf="entretien.responsable">
              <a [routerLink]="['/responsable', entretien.responsable.id, 'view']">{{ entretien.responsable?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/entretien', entretien.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/entretien', entretien.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(entretien)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
