<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="projet">
      <h2 data-cy="projetDetailsHeading"><span jhiTranslate="papApp.projet.detail.title">Projet</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ projet.id }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.projet.titreprojet">Titreprojet</span></dt>
        <dd>
          <span>{{ projet.titreprojet }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.projet.nomprojet">Nomprojet</span></dt>
        <dd>
          <div *ngIf="projet.nomprojet">
            <a [routerLink]="['/affectation', projet.nomprojet.id, 'view']">{{ projet.nomprojet?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/projet', projet.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
