<div>
  <h2 id="page-heading" data-cy="ResponsableHeading">
    <span jhiTranslate="papApp.responsable.home.title">Responsables</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="papApp.responsable.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-responsable"
        [routerLink]="['/responsable/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="papApp.responsable.home.createLabel"> Créer un nouveau Responsable </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="responsables?.length === 0">
    <span jhiTranslate="papApp.responsable.home.notFound">Aucun Responsable trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="responsables && responsables.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nommanager">
            <span jhiTranslate="papApp.responsable.nommanager">Nommanager</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nomteamlead">
            <span jhiTranslate="papApp.responsable.nomteamlead">Nomteamlead</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let responsable of responsables; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/responsable', responsable.id, 'view']">{{ responsable.id }}</a>
          </td>
          <td>{{ responsable.nommanager }}</td>
          <td>{{ responsable.nomteamlead }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/responsable', responsable.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/responsable', responsable.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(responsable)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
