<div>
  <h2 id="page-heading" data-cy="CompetanceHeading">
    <span jhiTranslate="papApp.competance.home.title">Competances</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="papApp.competance.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-competance"
        [routerLink]="['/competance/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="papApp.competance.home.createLabel"> Créer un nouveau Competance </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="competances?.length === 0">
    <span jhiTranslate="papApp.competance.home.notFound">Aucun Competance trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="competances && competances.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomCompetance">
            <span jhiTranslate="papApp.competance.nomCompetance">Nom Competance</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="papApp.competance.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="niveau">
            <span jhiTranslate="papApp.competance.niveau">Niveau</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="affectation.id">
            <span jhiTranslate="papApp.competance.affectation">Affectation</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let competance of competances; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/competance', competance.id, 'view']">{{ competance.id }}</a>
          </td>
          <td>{{ competance.nomCompetance }}</td>
          <td>{{ competance.description }}</td>
          <td>{{ competance.niveau }}</td>
          <td>
            <div *ngIf="competance.affectation">
              <a [routerLink]="['/affectation', competance.affectation.id, 'view']">{{ competance.affectation?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/competance', competance.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/competance', competance.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(competance)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
