<div>
  <h2 id="page-heading" data-cy="AffectationAdminHeading">
    <span jhiTranslate="papApp.affectationAdmin.home.title">AffectationAdmins</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="papApp.affectationAdmin.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-affectation-admin"
        [routerLink]="['/affectation-admin/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="papApp.affectationAdmin.home.createLabel"> Créer un nouveau Affectation Admin </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="affectationAdmins?.length === 0">
    <span jhiTranslate="papApp.affectationAdmin.home.notFound">Aucun Affectation Admin trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="affectationAdmins && affectationAdmins.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="datedebut">
            <span jhiTranslate="papApp.affectationAdmin.datedebut">Datedebut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datefin">
            <span jhiTranslate="papApp.affectationAdmin.datefin">Datefin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="etablissement.id">
            <span jhiTranslate="papApp.affectationAdmin.etablissement">Etablissement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let affectationAdmin of affectationAdmins; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/affectation-admin', affectationAdmin.id, 'view']">{{ affectationAdmin.id }}</a>
          </td>
          <td>{{ affectationAdmin.datedebut | formatMediumDatetime }}</td>
          <td>{{ affectationAdmin.datefin | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="affectationAdmin.etablissement">
              <a [routerLink]="['/etablissement', affectationAdmin.etablissement.id, 'view']">{{ affectationAdmin.etablissement?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/affectation-admin', affectationAdmin.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/affectation-admin', affectationAdmin.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(affectationAdmin)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
