<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="affectationAdmin">
      <h2 data-cy="affectationAdminDetailsHeading"><span jhiTranslate="papApp.affectationAdmin.detail.title">Affectation Admin</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ affectationAdmin.id }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.affectationAdmin.datedebut">Datedebut</span></dt>
        <dd>
          <span>{{ affectationAdmin.datedebut | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="papApp.affectationAdmin.datefin">Datefin</span></dt>
        <dd>
          <span>{{ affectationAdmin.datefin | formatMediumDatetime }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
      </button>

      <button type="button" [routerLink]="['/affectation-admin', affectationAdmin.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
      </button>
    </div>
  </div>
</div>
