<div>
  <h2 id="page-heading" data-cy="AffectationHeading">
    <span jhiTranslate="papApp.affectation.home.title">Affectations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="papApp.affectation.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-affectation"
        [routerLink]="['/affectation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="papApp.affectation.home.createLabel"> Créer un nouveau Affectation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="affectations?.length === 0">
    <span jhiTranslate="papApp.affectation.home.notFound">Aucun Affectation trouvé</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="affectations && affectations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nomprojet">
            <span jhiTranslate="papApp.affectation.nomprojet">Nomprojet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="papApp.affectation.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datedebut">
            <span jhiTranslate="papApp.affectation.datedebut">Datedebut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="datefin">
            <span jhiTranslate="papApp.affectation.datefin">Datefin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="projet.id">
            <span jhiTranslate="papApp.affectation.projet">Projet</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let affectation of affectations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/affectation', affectation.id, 'view']">{{ affectation.id }}</a>
          </td>
          <td>{{ affectation.nomprojet }}</td>
          <td>{{ affectation.description }}</td>
          <td>{{ affectation.datedebut | formatMediumDatetime }}</td>
          <td>{{ affectation.datefin | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="affectation.projet">
              <a [routerLink]="['/projet', affectation.projet.id, 'view']">{{ affectation.projet?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/affectation', affectation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/affectation', affectation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
              </button>

              <button type="submit" (click)="delete(affectation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
